<div class="container-fluid animate__animated animate__fadeIn">
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="row row-in">
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center">
                            <h5 class="text-danger">Usuarios Registrados</h5>
                            <h3 class="counter">{{ AllUsers }}</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center">
                            <h5 class="text-danger">Usuarios Activos</h5>
                            <h3 class="counter">{{ ActiveUser }}</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center b-r-none">
                            <h5 class="text-muted text-warning">Conrtactos Registrados</h5>
                            <h3 class="counter">4250</h3>
                        </div>
                    </div>
                <div id="morris-area-chart" style="height: 345px;"></div>
            </div>
        </div>
    </div>
</div>
