<div class="container-fluid animate__animated animate__fadeIn">
    <!-- row -->
    <div class="row">     
        <div class="col-sm-12">
            <form [formGroup]="form" (ngSubmit)="Buscar()" class="form-horizontal form-material">
                <div class="form-search">
                    <div class="form-group">
                        <label class="col-md-12">Nombre</label>
                        <div class="col-md-12">
                            <input 
                                type="text" 
                                class="form-control form-control-line"
                                formControlName="Nombre"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Apelldios</label>
                        <div class="col-md-12">
                            <input 
                                type="text" 
                                class="form-control form-control-line"
                                formControlName="Apellidos"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Correo</label>
                        <div class="col-md-12">
                            <input 
                                type="text" 
                                class="form-control form-control-line"
                                formControlName="Correo"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Correo</label>
                        <div class="col-md-12">
                          <select  formControlName="Rol" class="form-control form-control-line">
                              <option value="0">Select an option</option>
                              <option value="1">Admin</option>
                              <option value="2">User</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input 
                            type="submit" 
                            value="Buscar"
                            class="btn btn-success"
                        >
                    </div>
                </div>
            </form>
            <div class="white-box">
                <h3>Basic Table</h3>
                <p class="text-muted">Add class <code>.table</code></p>
                <div class="table-responsive">
                    <table class="table animate__animated animate__fadeIn">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ModelList; let i = index">
                                <td>{{item.nombre}}</td>
                                <td>{{item.apellidos}}</td>
                                <td>{{item.correo}}</td>
                                <td *ngIf="item.idRol == 1">Admin</td>
                                <td *ngIf="item.idRol == 2">User</td>
                                <th>
                                    <p *ngIf="item.id == IdUser">Current User</p>
                                    <div *ngIf="item.id != IdUser">
                                        <button [disabled]="RoleUser != 1" (click)="Delete(item.id, i )" class="btn btn-success">
                                            Delete User
                                        </button>
                                    </div>            
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
